{% extends 'base.html' %}
{%load static from staticfiles%}
{% block title %}天天生鲜-登录{% endblock title %}
{% block top %}{% endblock top %}
{% block search %}{% endblock search %}
{% block link %}
<!-- 外链 -->
<script type="text/javascript" src="{% static 'js/sha1.js'%}"></script> <!-- sha1加密 -->

{% endblock link %}
{% block block %}
<script>
	$(function () {
		$('#form').submit(function (event) {
			event.preventDefault();  // 阻止表单提交
			username = $('.name_input').val()
			password = hex_sha1($('.pass_input').val())  // 使用sha1加密
			csrf = $('input[name="csrfmiddlewaretoken"]').val()
			remember = $('input[name="remember"]').is(':checked')  // 是否记住用户名
			$.post('/user/login_check/',{'csrfmiddlewaretoken':csrf, 'username':username, 'pwd':password, 'remember':remember}, function (data){
				 if(data.res == 1){
					 window.location = '/user/goods/'  // 登录成功后跳转到商品首页
				 }
				 else{
					 $('.user_error').html('用户名或密码错误').fadeIn()  // 用户名错误
					 $('.pwd_error').html('用户名或密码错误').fadeIn()  // 密码错误
				 }
			})
		})
	})
 </script>

<div class="login_top clearfix">
	<a href="index.html" class="login_logo"><img src="{% static 'images/logo02.png' %}"></a>
</div>
<div class="login_form_bg">
	<div class="login_form_wrap clearfix">
		<div class="login_banner fl"></div>
		<div class="slogan fl">日夜兼程 · 急速送达</div>
		<div class="login_form fr">
			<div class="login_title clearfix">
				<h1>用户登录</h1>
				<a href="#">立即注册</a>
			</div>
			<div class="form_input">
				<form id="form">
					{% csrf_token %}
					<input type="text" name="username" class="name_input" placeholder="请输入用户名" value="{{username}}">
					<div class="user_error">输入错误</div>
					<input type="password" name="pwd" class="pass_input" placeholder="请输入密码">
					<div class="pwd_error">输入错误</div>
					<div class="more_input clearfix">
						<input type="checkbox" name="remember">
						<label>记住用户名</label>
						<a href="#">忘记密码</a>
					</div>
					<input type="submit" name="" value="登录" class="input_submit">
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock block %}